body {
  margin: 0px;
}
.div-menu {
  background-color: purple;
  display: inline-block;
  width: 90%;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
}
.text {
  position: absolute;
  top: 2.2%;
  left: 13%;
  color: #fefcef;
}
.img-byal {
  border-radius: 80px;
  padding-top: 2px;
  padding-left: 5px;
}
.lable-menu {
  position: sticky;
  padding-top: 7px;
  padding-bottom: 4px;
  float: right;
  background-color: gray;
}
li .a{
  padding: 15%;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  color: white;
  width: 100%;
  margin: 7px;
  background-color: purple;
}
#menu-switch {
  display: none;
}
#menu-switch:checked ~ ul {
  visibility: visible;
}
img {
  width: 35px;
}
ul {
  margin-top: 0;
  position: absolute;
  right: 9%;
  top: 7.5%;
  list-style: none;
  visibility: hidden;
}
p {
  font-size: 150%;
}
.content-center {
  text-align: center;
}
.input-size {
  padding: 0px 11px;
  margin-bottom: 5%;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  outline: 50px;
}
.inputs-size {
  padding: 0px 11px;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  outline: 50px;
}
.textarea {
  margin: 5% 0px;
  width: 86.%;
  height: 90px;
  border-radius: 5px;
  border: 1px solid black;
  outline: 50px;
  padding: 12px 12px;
  box-sizing: border-box;
  resize: none;
}
.button {
  width: 87.5%;
  margin-top: 5%;
  height: 40px;
  color: white;
  background: purple;
  border-radius: 5px;
  border-style: none;
}
.message-notice {
  margin-top: 15%;
}