body {
  margin: 0px;
}
.div-menu {
  background-color: purple;
  display: inline-block;
  width: 90%;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
}
.img-byal {
  border-radius: 80px;
  padding-top: 2px;
  padding-left: 5px;
}
.text {
  position: absolute;
  top: 2.2%;
  left: 13%;
  color: #fefcef;
}
.lable-menu {
  padding-top: 7px;
  padding-bottom: 4px;
  float: right;
  background-color: gray;
}
ul {
  margin-top: 0;
  position: absolute;
  right: 9%;
  top: 7.5%;
  list-style: none;
  visibility: hidden;
}
li .a{
  padding: 15%;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  color: white;
  width: 100%;
  margin: 7px;
  background-color: purple;
}
#menu-switch {
  display: none;
}
#menu-switch:checked ~ ul {
  visibility: visible;
}
img {
  width: 35px;
}
.h1-font1 {
  font-size: 40px;
  margin-bottom: -4%;
}
.h1-font2 {
  font-size: 32.5px;
}
.p-font {
  font-size: 15px;
  margin: 0px 20px'
}
.center {
  text-align: center;
  background: ;
  margin-top: 10%;
}
.padding-text {
  margin: 5%;
  font-size: 18px;
}
.button-div {
  margin-top: 17%;
  margin-bottom: -7%; 
}
.button-1 {
  color: white;
  text-decoration: none;
  background: black;
  padding: 12px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  width: 38%;
  margin-right: 1%;
  border-style: none;
}
.button-2 {
  color: white;
  text-decoration: none;
  background: black;
  padding: 12px;
  -webkit-border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  width: 38%;
  margin-left: 1%;
  border-style: none;
}
.contact-page {
  margin-top: 40%;
}
.p-contact {
  font-size: 20px;
  margin-bottom: 11.5%;
}
.bold-h2 {
  }x;
 {
 }
