body {
  margin: 0px;
}
.div-menu {
  position: sticky;
  top: 0;
  background-color: purple;
  display: inline-block;
  width: 90%;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
}
.text {
  position: absolute;
  top:14px;
  left: 13%;
  color: #fefcef;
}
.img-byal {
  border-radius: 80px;
  padding-top: 2px;
  padding-left: 5px;
}
.lable-menu {
  position: sticky;
  top: 0;
  padding-top: 7px;
  padding-bottom: 4px;
  float: right;
  background-color: gray;
}
li .a{
  padding: 15%;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  color: white;
  width: 100%;
  margin: 7px;
  background-color: purple;
}
#menu-switch {
  display: none;
}
#menu-switch:checked ~ ul {
  visibility: visible;
}
img {
  width: 35px;
}
ul {
  margin-top: 0;
  position: absolute;
  right: 9%;
  top: 7.5%;
  list-style: none;
  visibility: hidden;
}
h1 {
  text-align: center;
}
.project-manager {
  background: #f5f5f5;
}
h2 {
  margin-top: 5%;
}
.project-detail {
  display: inline-block;
  width: 50%;
  margin-left: 6%;
}
.text-one {
  margin-top: 7%;
  color: #696969;
  margin-bottom: 5%;
}
.data {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 5%;
  float: right;
  width: 35.9%;
  margin-right: 6%;
}
.img {
  margin-bottom: 10%;
  width: 100%;
  height: 85px;
  text-align: center;
}
.button {
  text-align: center;
}
.button-one {
  border-radius: 5px;
  border-style: none;
  padding: 7px;
  margin-right: 1.5%;
  background: #fcfcfc;
}
.button-two {
  border-radius: 5px;
  border-style: none;
  padding: 7px;
  margin-left: 1.5%;
  background: #fcfcfc;
}
.project-manager-one {
  background: #f5f5f5;
  margin-top: 10%;
  padding-bottom: 5%;
}
.project-manager-two {
  background: #f5f5f5;
  margin-top: 10%;
  }
