body {
  margin: 0px;
}
.div-menu {
  background-color: purple;
  display: inline-block;
  width: 90%;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
}
.text {
  position: absolute;
  top: 2.2%;
  left: 13%;
  color: #fefcef;
}
.img-byal {
  border-radius: 80px;
  padding-top: 2px;
  padding-left: 5px;
}
.lable-menu {
  position: sticky;
  padding-top: 7px;
  padding-bottom: 4px;
  float: right;
  background-color: gray;
}
li .a{
  padding: 15%;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  color: white;
  width: 100%;
  margin: 7px;
  background-color: purple;
}
#menu-switch {
  display: none;
}
#menu-switch:checked ~ ul {
  visibility: visible;
}
img {
  width: 35px;
}ul {
  margin-top: 0;
  position: absolute;
  right: 9%;
  top: 7.5%;
  list-style: none;
  visibility: hidden;
}
h1 {
  text-align: center;
}
.image-settings {
  justify-content: center;
  margin-top: 5px;
  display: flex;
  gap: 20px;
}
p {
  font-weight: bold;
  font-size: 20px;
}
.text-settings {
  margin-bottom: 1px;
  width: 220px;
  justify-content: justify-content;
}
.image {
  width: 100px;
  padding-top: 20px;
  background-image: white;
}
.button {
  text-align: center;
  margin-top: 15%;
}
.button .a-button {
  background-color: purple;
  font-size: 15px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  border-style: none;
  padding: 10px;
  text-align: center;
  width: 150%;
  text-decoration: none;
}
h2 {
  text-align: center;
  margin-top: 10%;
}
